<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1>Addominali</h1>
<div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, gaTrack: true, gaId: 'UA-72608964-1'}, 'google_translate_element');
            }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<hr>
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per gli addominali  
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Crunches">
    <a name="Crunches">Crunches</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Nessuno</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Sdraiati sulla schiena con le ginocchia piegate e i piedi appoggiati a terra, a circa un piede dalla parte bassa della schiena;
        </li>
        <li>2) Metti la punta delle dita delle mani sulle tempie con i palmi rivolti verso l'esterno;
        </li>
        <li>3) Contrai la pancia alla base della colonna vertebrale per impegnare i muscoli, quindi solleva la testa e le spalle dal pavimento. Torna alla posizione di partenza e ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Situp">
    <a name="Situp">Situp</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Kettlebell</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Sdraiati sulla schiena con le gambe dritte e tieni il kettlebell sopra il petto a distanza di un braccio;
        </li>
        <li>2) Contrai la pancia alla base della colonna vertebrale per impegnare i muscoli, quindi solleva la testa e le spalle dal pavimento con il kettlebell sollevato a un braccio sopra il petto;
        </li>
        <li>3) Fermati quando i talloni sono completamente estesi, quindi torna lentamente alla posizione iniziale e ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Leg-Raises">
    <a name="Leg-Raises">Leg Raises</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Nessuno</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/static/Immagine1.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Sdraiati sulla schiena con i palmi delle braccia rivolti verso il basso su entrambi i lati;
        </li>
        <li>2) Tieni le gambe unite e il più dritte possibile;
        </li>
        <li>3) Alza lentamente le gambe a un angolo di 90°, fai una pausa in questa posizione o il più in alto possibile per raggiungere le gambe, quindi abbassa lentamente le gambe di nuovo verso il basso.
        </li>
<h3>
    <span class="mw-headline" id="Wood-Chopper">
    <a name="Wood-Chopper">Wood Chopper</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Impostare il cavo all'incirca all'altezza del capezzolo. Usa una maniglia;
        </li>
        <li>2) Mettiti di lato rispetto alla macchina, quindi ruota il busto con le braccia tese;
        </li>
        <li>3) Dopo aver completato il numero di ripetizioni dato, affronta la direzione opposta e ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Standing-Crunch">
    <a name="Standing-Crunch">Standing Crunch</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Utilizzare una doppia maniglia e posizionare il cavo fino in cima;
        </li>
        <li>2) Guarda lontano dalla macchina e fai qualche passo in avanti;
        </li>
        <li>3) Spingi indietro i fianchi e fletti gli addominali;
        </li>
        <li>4) Ritorna alla posizione in piedi di partenza e ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Russian-Twist">
    <a name="Russian-Twist">Russian Twist</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Kettlebell</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Siediti sul pavimento con le gambe piegate, le ginocchia unite e i piedi leggermente sollevati dal pavimento;
        </li>
        <li>2) Partendo da un lato e sedendoti in posizione eretta con i muscoli impegnati, solleva il kettlebell dal pavimento con entrambe le mani e portalo attraverso il tuo corpo dall'altro lato, ruotando il petto verso il pavimento mentre lo fai;
        </li>
        <li>3) Batti leggermente il kettlebell sul pavimento e riporta il kettlebell attraverso il tuo corpo alla posizione di partenza, ruotando il petto verso il pavimento;
        </li>
        <li>4) Ripetere, mantenendo le gambe piegate e i piedi sollevati durante l'esercizio
        </li>
    </ul>

<body>
<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
    <a name="footer"><h4>Footer</h4></a>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>