<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<center>
<font color="white"><h1>Avambraccio</h1></font>
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'it'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</center>

</div>
<style>
html,body,h1,h2,h3,h4 {font-family:"Montserrat", sans-serif}
.text{
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}
body{
    background-image: url('static/sfondo2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
img {
    border: 2px solid #000000;
}
ul{
    border: 2px solid #000000;
}
</style>
<body>
<ul class="text">
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per l'avambraccio  
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Wrist-Curl">
    <a name="Wrist-Curl">Wrist Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Manubrio</p>
    <p>
    <img id="workout-img" src="static/Wrist-Curl.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Afferra il manubrio con il palmo della mano rivolto verso l'alto con l'avambraccio appoggiato alla panca;
        </li>
        <li>2) Piega lentamente il polso verso l'alto con un movimento semicircolare;
        </li>
        <li>3) Torna alla posizione di partenza e ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Hammer-Curl">
    <a name="Hammer-Curl">Hammer Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <img id="workout-img" src="static/hammer-curl-forearms.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Usa una maniglia. Il cavo deve essere posizionato fino in fondo alla macchina;
        </li>
        <li>2) Volto lontano dalla macchina via cavo. Scagliona la tua posizione in modo da avere una migliore base di supporto;
        </li>
        <li>3) Usa una presa con il pollice rivolto verso l'alto. Fletti al gomito ed estendi.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Behind-The-Back-Barbell-Wrist-Curl">
    <a name="Behind-The-Back-Barbell-Wrist-Curl">Behind The Back Barbell Wrist Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Bilanciere</p>
    <p>
    <img id="workout-img" src="static/Barbell-Wrist-Curl-Behind-the-Back.webp" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Stai dritto e tieni il bilanciere dietro di te usando una presa prona con le mani e i piedi alla larghezza delle spalle;
        </li>
        <li>2) Arriccia lentamente i polsi con un movimento semicircolare verso l'alto;
        </li>
        <li>3) Tenere il bilanciere all'apice del movimento e poi abbassare lentamente il bilanciere nella posizione iniziale.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Reverse-Curl">
    <a name="Reverse-Curl">Reverse Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Manubrio</p>
    <p>
    <img id="workout-img" src="static/Reverse-Curl.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Mettiti in piedi con i manubri in mano;
        </li>
        <li>2) Rivolgi il palmo verso il basso. Fletti al gomito ed estendi.;
        </li>
        <li>3) Ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Wrist-Extension">
    <a name="Wrist-Extension">Wrist Extension</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <img id="workout-img" src="static/wrist-extension.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Usa una maniglia. Il cavo deve essere posizionato fino in fondo alla macchina;
        </li>
        <li>2) Volto lontano dalla macchina via cavo. Scagliona la tua posizione in modo da avere una migliore base di supporto;
        </li>
        <li>3) Inizia con il gomito a un angolo di 90° con il palmo rivolto verso il basso. Flettere ed estendere al polso.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Chin-Ups">
    <a name="Chin-Ups">Chin-Ups</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Nessuno</p>
    <p>
    <img id="workout-img" src="static/pull-ups.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Afferra la barra alla larghezza delle spalle con una presa supina (palmi rivolti verso di te);
        </li>
        <li>2) Con il corpo sospeso e le braccia completamente estese, tirati su finché il mento non è oltre la barra;
        </li>
        <li>3) Ritorna lentamente alla posizione di partenza. Ripetere.
        </li>
    </ul>
<footer class="w3-container w3-padding-32 w3-transparent w3-center">
    <a name="footer"><h4>Footer</h4></a>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <a href="https://www.facebook.com/profile.php?id=100081519773311"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
      <a href="https://www.instagram.com/olympiaplus2022/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    </div>
    <p>Presented by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>