<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1>Avambraccio</h1>
<div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, gaTrack: true, gaId: 'UA-72608964-1'}, 'google_translate_element');
            }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<hr>
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per l'avambraccio  
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Wrist-Curl">
    <a name="Wrist-Curl">Wrist Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Manubrio</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Afferra il manubrio con il palmo della mano rivolto verso l'alto con l'avambraccio appoggiato alla panca;
        </li>
        <li>2) Piega lentamente il polso verso l'alto con un movimento semicircolare;
        </li>
        <li>3) Torna alla posizione di partenza e ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Hammer-Curl">
    <a name="Hammer-Curl">Hammer Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Usa una maniglia. Il cavo deve essere posizionato fino in fondo alla macchina;
        </li>
        <li>2) Volto lontano dalla macchina via cavo. Scagliona la tua posizione in modo da avere una migliore base di supporto;
        </li>
        <li>3) Usa una presa con il pollice rivolto verso l'alto. Fletti al gomito ed estendi.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Behind-The-Back-Barbell-Wrist-Curl">
    <a name="Behind-The-Back-Barbell-Wrist-Curl">Behind The Back Barbell Wrist Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Bilanciere</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/static/Immagine1.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Stai dritto e tieni il bilanciere dietro di te usando una presa prona con le mani e i piedi alla larghezza delle spalle;
        </li>
        <li>2) Arriccia lentamente i polsi con un movimento semicircolare verso l'alto;
        </li>
        <li>3) Tenere il bilanciere all'apice del movimento e poi abbassare lentamente il bilanciere nella posizione iniziale.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Reverse-Curl">
    <a name="Reverse-Curl">Reverse Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Usa una maniglia. Il cavo deve essere posizionato fino in fondo alla macchina;
        </li>
        <li>2) Volto lontano dalla macchina via cavo. Scagliona la tua posizione in modo da avere una migliore base di supporto;
        </li>
        <li>3) Rivolgi il palmo verso il basso. Fletti al gomito ed estendi.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Wrist-Extension">
    <a name="Wrist-Extension">Wrist Extension</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Usa una maniglia. Il cavo deve essere posizionato fino in fondo alla macchina;
        </li>
        <li>2) Volto lontano dalla macchina via cavo. Scagliona la tua posizione in modo da avere una migliore base di supporto;
        </li>
        <li>3) Inizia con il gomito a un angolo di 90° con il palmo rivolto verso il basso. Flettere ed estendere al polso.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Chin-Ups">
    <a name="Chin-Ups">Chin-Ups/a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Nessuno</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Afferra la barra alla larghezza delle spalle con una presa supina (palmi rivolti verso di te);
        </li>
        <li>2) Con il corpo sospeso e le braccia completamente estese, tirati su finché il mento non è oltre la barra;
        </li>
        <li>3) Ritorna lentamente alla posizione di partenza. Ripetere.
        </li>
    </ul>

<body>
<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
    <a name="footer"><h4>Footer</h4></a>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>