<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1>Bicipite Femorale</h1>
<div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, gaTrack: true, gaId: 'UA-72608964-1'}, 'google_translate_element');
            }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<hr>
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per il bicipite femorale  
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Hamstring-Curl">
    <a name="Hamstring-Curl">Hamstring Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Sdraiati sulla macchina, posizionando le gambe sotto la leva imbottita. Posiziona le gambe in modo che la leva imbottita sia sotto i muscoli del polpaccio;
        </li>
        <li>2) Sostieniti afferrando le maniglie laterali della macchina e solleva lentamente il peso con le gambe;
        </li>
        <li>3) Fai una pausa all'apice del movimento, quindi torna lentamente alla posizione iniziale.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Deadlift">
    <a name="Deadlift">Deadlift</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Stai in piedi con i piedi alla larghezza delle spalle tenendo il kettlebell con entrambe le mani davanti alle cosce;
        </li>
        <li>2) Piegati in avanti ai fianchi portando il kettlebell a terra mentre pieghi leggermente le ginocchia, mantenendo la schiena dritta;
        </li>
        <li>3) Torna in posizione eretta e ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Stiff-Leg-Deadlifts">
    <a name="Stiff-Leg-Deadlifts">Stiff Leg Deadlifts</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/static/Immagine1.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Stai in piedi con un bilanciere all'altezza degli stinchi con i piedi alla larghezza delle spalle;
        </li>
        <li>2) Piegati in avanti con i fianchi e mantieni le ginocchia il più estese possibile;
        </li>
        <li>3) Afferra il bilanciere e poi estendi i fianchi mantenendo la schiena dritta;
        </li>
        <li>4) Dalla posizione eretta, abbassare il peso in modo controllato;
        </li>
        <li>5) Puoi abbassare il peso sul pavimento o prima di toccare il pavimento, a seconda della tua mobilità.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Kettlebell-Swing">
    <a name="Kettlebell-Swing">Kettlebell Swing</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Stai in piedi con i piedi leggermente più larghi delle spalle, tenendo il kettlebell tra le gambe, con le ginocchia leggermente piegate;
        </li>
        <li>2) Tenendo la schiena dritta, fai oscillare il kettlebell verso l'alto fino a quando il kettlebell è all'altezza del petto e abbassalo con attenzione;
        </li>
        <li>3) Ripetere.
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Nordic-Hamstring-Curl">
    <a name="Nordic-Hamstring-Curl">Nordic Hamstring Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Mettiti in ginocchio e chiedi a qualcuno di tenerti le caviglie;
        </li>
        <li>2) Metti le mani davanti a te;
        </li>
        <li>3) Porta lentamente il tuo corpo a terra (più lentamente è meglio è);
        </li>
        <li>4) Spingere verso l'alto e ritorna alla posizione iniziale.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Single-Leg-Deadlift">
    <a name="Single-Leg-Deadlift">Single Leg Deadlift</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Stai in piedi con i piedi alla larghezza delle spalle, sollevando un piede dal pavimento. Tieni il kettlebell nello stesso braccio della gamba sollevata;
        </li>
        <li>2) Piegati in avanti sui fianchi portando il kettlebell a terra mentre estendi la gamba sollevata dietro di te, mantenendo la schiena dritta;
        </li>
        <li>3) Ritorna alla posizione eretta e ripeti.
        </li>
    </ul>

<body>
<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
    <a name="footer"><h4>Footer</h4></a>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>