<html>
<h1>Bicipiti</h1>
<div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, gaTrack: true, gaId: 'UA-72608964-1'}, 'google_translate_element');
            }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<hr>
<p>
Il bicipite è uno dei muscoli più allenati, stereotipicamente la maggior parte dei ragazzi vuole bicipiti grandi - e in pratica, questo è spesso vero. Come è noto, la funzione principale del bicipite è la flessione del gomito (ciò che si verifica durante un esercizio di curl).
<a href="https://musclewiki.com/Muscle/Biceps">More...</a>
</p>
</html>