<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1>Bicipiti</h1>
<div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, gaTrack: true, gaId: 'UA-72608964-1'}, 'google_translate_element');
            }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<hr>
<p>
Il bicipite è uno dei muscoli più allenati, stereotipicamente la maggior parte dei ragazzi vuole bicipiti grandi - e in pratica, questo è spesso vero. Come è noto, la funzione principale del bicipite è la flessione del gomito (ciò che si verifica durante un esercizio di curl).
<a href="https://musclewiki.com/Muscle/Biceps">More...</a>
</p>
<h2>
    <span class="mw-headline" id="Exercises">
    Featured Exercises
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Barbell-Curl">
    <a name="Barbell-Curl">Barbell Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Tenendo ferma la parte superiore delle braccia, piega i pesi in avanti mentre contrai i bicipiti mentre espiri;
        </li>
        <li>2) Continua il movimento fino a quando i bicipiti non sono completamente contratti e la barra è all'altezza delle spalle;
        </li>
        <li>3) Mantieni la posizione contratta per un secondo e stringi forte i bicipiti;</li>
        <li>4) Riporta lentamente il peso nella posizione di partenza;</li>
    </ul>
<h3>
    <span class="mw-headline" id="Dumbbell-Curl">
    <a name="Dumbbell-Curl">Dumbbell Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Alzati in piedi con un manubrio in ogni mano alla distanza di un braccio;
        </li>
        <li>2) Solleva un manubrio e ruota l'avambraccio finché non è in verticale e il palmo della mano è rivolto verso la spalla;</li>
        <li>3) Abbassare il manubrio alla posizione originale e ripetere con il braccio opposto;
        </li>
    </ul>
</html>