<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<center>
<font color="white"><h1>Bicipiti</h1></font>
<div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, gaTrack: true, gaId: 'UA-72608964-1'}, 'google_translate_element');
            }
</script>
</center>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<style>
html,body,h1,h2,h3,h4 {font-family:"Montserrat", sans-serif}
.text{
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}
body{
    background-image: url('/static/shutterstock_407554567.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
</style>
<body>
<ul class="text">
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per bicipiti
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Barbell-Curl">
    <a name="Barbell-Curl">Barbell Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Bilanciere</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Tenendo ferma la parte superiore delle braccia, piega i pesi in avanti mentre contrai i bicipiti mentre espiri;
        </li>
        <li>2) Continua il movimento fino a quando i bicipiti non sono completamente contratti e la barra è all'altezza delle spalle;
        </li>
        <li>3) Mantieni la posizione contratta per un secondo e stringi forte i bicipiti;</li>
        <li>4) Riporta lentamente il peso nella posizione di partenza;</li>
    </ul>
<h3>
    <span class="mw-headline" id="Dumbbell-Curl">
    <a name="Dumbbell-Curl">Dumbbell Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Manubrio</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Alzati in piedi con un manubrio in ogni mano alla distanza di un braccio;
        </li>
        <li>2) Solleva un manubrio e ruota l'avambraccio finché non è in verticale e il palmo della mano è rivolto verso la spalla;</li>
        <li>3) Abbassare il manubrio alla posizione originale e ripetere con il braccio opposto;
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Concentration-Curl">
    <a name="Concentration-Curl">Concentration Curl</a> <p><strong>Attrezzo:</strong> Manubrio</p>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/static/Immagine1.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Seduto su una sedia con le gambe divaricate, appoggia il braccio contro la coscia e tieni il manubrio con il braccio esteso verso il pavimento;
        </li>
        <li>2) Piegando il braccio all'altezza del gomito, solleva il manubrio finché il palmo della mano è rivolto verso la spalla;
        </li>
        <li>3) Abbassare il manubrio alla posizione di partenza e ripetere;
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Preacher-Curl">
    <a name="Preacher-Curl">Preacher Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Kettlebell</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Mettiti dietro una panca, con il petto appoggiato al bordo della panca;
        </li>
        <li>2) Con un braccio appoggiato sulla panca, tieni il kettlebell, piegando il braccio all'altezza del gomito;
        </li>
        <li>3) Abbassa il braccio usando la panca come guida, mantenendo l'avambraccio dritto;
        </li>
        <li>4) Torna alla posizione di partenza e ripeti;
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Twisting-Curl">
    <a name="Twisting-Curl">Twisting Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Usa una maniglia. Il cavo deve essere posizionato fino in fondo alla macchina;
        </li>
        <li>2) Volto lontano dalla macchina. Scagliona la tua posizione in modo da avere una migliore base di supporto;
        </li>
        <li>3) Inizia con una presa neutra. Flex al gomito. Mentre fletti, ruota il palmo della mano. Quando colpisci la parte superiore del movimento, il palmo della mano dovrebbe essere rivolto verso l'alto;
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Reverse-Curl">
    <a name="Reverse-Curl">Reverse Curl</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Usa una maniglia. Il cavo deve essere posizionato fino in fondo alla macchina;
        </li>
        <li>2) Volto lontano dalla macchina. Scagliona la tua posizione in modo da avere una migliore base di supporto;
        </li>
        <li>3) Rivolgi il palmo verso il basso. Fletti al gomito ed estendi.
        </li>
    </ul>
<footer class="w3-container w3-padding-32 w3-transparent w3-center">
    <a name="footer"><h4>Footer</h4></a>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
    </div>
    <p>Powered by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>