<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<center>
<font color="white"><h1>Dorsali</h1></font>
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'it'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</center>
</div>
<style>
html,body,h1,h2,h3,h4 {font-family:"Montserrat", sans-serif}
.text{
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}
body{
    background-image: url('static/sfondo2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
img {
    border: 2px solid #000000;
}
ul{
    border: 2px solid #000000;
}
</style>
<body>
<ul class="text">
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per i dorsali  
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Neutral-Grip-Pulldown">
    <a name="Neutral-Grip-Pulldown">Neutral Grip Pulldown</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Macchina</p>
    <p>
    <img id="workout-img" src="static/neutral-grip-pulldown.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Afferra la barra con i palmi rivolti in avanti, le tue mani devono essere distanziate a una distanza maggiore della larghezza delle spalle;
        </li>
        <li>2) Dato che hai entrambe le braccia distese davanti a te tenendo la barra, porta il busto indietro di circa 30 gradi mentre sporgi il petto;
        </li>
        <li>3) Abbassare la barra all'incirca all'altezza del mento o leggermente più in basso con un movimento fluido mentre si stringono insieme le scapole;
        </li>
        <li>4) Dopo un secondo di spremitura, riporta lentamente la barra nella posizione iniziale quando le braccia sono completamente tese.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Inverted-Row-Dorsali">
    <a name="Inverted-Row-Dorsali">Inverted Row</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Nessuno</p>
    <p>
    <img id="workout-img" src="static/inverted-row.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Sdraiati sotto una barra orizzontale fissa e afferra la barra con un'ampia presa alla rovescia;
        </li>
        <li>2) Tira il tuo corpo dritto verso la barra;
        </li>
        <li>3) Torna alla posizione di partenza, le braccia completamente distese. Ripetere.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Pull-Ups">
    <a name="Pull-Ups">Pull Ups</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Nessuno</p>
    <p>
    <img id="workout-img" src="static/pull-ups.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Afferra la barra con una presa alla rovescia, braccia e spalle completamente estese;
        </li>
        <li>2) Solleva il corpo finché il mento non è sopra la barra;
        </li>
        <li>3) Riporta il corpo nella posizione di partenza.
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Pull-In">
    <a name="Pull-In">Pull - In</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <img id="workout-img" src="static/pull-in.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Utilizzare un attacco per maniglia posizionato fino in cima alla macchina incrociata per cavi;
        </li>
        <li>2) Mettiti a pochi passi dalla macchina e metti il tuo corpo di lato rispetto alla macchina;
        </li>
        <li>3) Rivolgi il palmo della mano verso il soffitto. Quindi tira il gomito verso la gabbia toracica.
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Pullover">
    <a name="Pullover">Pullover</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Manubrio</p>
    <p>
    <img id="workout-img" src="static/pullover.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Appoggia la parte superiore della schiena sulla panca e posiziona le piante dei piedi saldamente sul pavimento mantenendo il busto e le cosce sospesi e paralleli al pavimento;
        </li>
        <li>2) Tieni il manubrio con entrambe le mani sopra il petto, tenendo le braccia dritte;
        </li>
        <li>3) Tenendo le braccia dritte, muovi il manubrio in direzione della testa finché le braccia non sono parallele al pavimento;
        </li>
        <li>4) Torna alla posizione iniziale e ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Lat-Prayer">
    <a name="Lat-Prayer">Lat Prayer</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <img id="workout-img" src="static/lat-prayer.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Il cavo deve essere posizionato completamente nella parte superiore della macchina;
        </li>
        <li>2) Afferra la maniglia e fai qualche passo indietro. Spingi il sedere indietro nel punto in cui ti stai piegando in avanti. Le tue orecchie dovrebbero essere tra le tue braccia;
        </li>
        <li>3) Inizia il movimento con le spalle e non con i gomiti. Mentre fletti l'articolazione della spalla, spingi i fianchi in avanti finché i fianchi non incontrano la maniglia.
        </li>
    </ul>
<footer class="w3-container w3-padding-32 w3-transparent w3-center">
    <a name="footer"><h4>Footer</h4></a>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <a href="https://www.facebook.com/profile.php?id=100081519773311"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
      <a href="https://www.instagram.com/olympiaplus2022/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    </div>
    <p>Presented by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>