<!-- Tabella esercizi-->
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
<style>
table,
td {
  text-align: center;
}
th {
text-align: center;
} 
</style>
</head>
<body>
<div class="w3-container">
    <h2> <b>Bicipiti</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipiti">Barbell Curl</a>
            </td>
            <td> Bilanciere </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipiti">Dumbbell Curl</a>
            </td>
            <td> Manubrio </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipiti">Concentration Curl</a>
            </td>
            <td> Manubrio </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipiti">Preacher Curl</a>
            </td>
            <td> Kettlebell </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipiti">Twisting Curl</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipiti">Reverse Curl</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Petto</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/petto">Dumbbell Bench Press</a>
            </td>
            <td> Manubrio </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/petto">Push Up</a>
            </td>
            <td> Nessuno </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/petto">Dips</a>
            </td>
            <td> Zavorra </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/petto">Walkover Push Up</a>
            </td>
            <td> Nessuno </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/petto">Incline Barbell Bench Press</a>
            </td>
            <td> Bilanciere </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/petto">Barbell Bench Press</a>
            </td>
            <td> Bilanciere </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Quadricipiti</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/quadricipiti">Step Up</a>
            </td>
            <td> Kettlebell </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/quadricipiti">Bulgarian Split Squat</a>
            </td>
            <td> Nessuno </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/quadricipiti">Leg Press</a>
            </td>
            <td> Macchina </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/quadricipiti">Leg Extension</a>
            </td>
            <td> Macchina </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/quadricipiti">Split Squat</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/quadricipiti">Standing Leg Extension</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Trapezio</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/trapezio">Shrug</a>
            </td>
            <td> Kettlebell </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/trapezio">Elevated Pike Shoulder Shrug</a>
            </td>
            <td> Nessuno </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/trapezio">Incline Shrug</a>
            </td>
            <td> Kettlebell </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/trapezio">Elevated Pike Press</a>
            </td>
            <td> Nessuno </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/trapezio">Upright Row</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/trapezio">Barbell Silverback Shrug</a>
            </td>
            <td> Bilanciere </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Tricipiti</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/tricipiti">Cable Push Downs</a>
            </td>
            <td> Macchina </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/tricipiti">Bench Dips</a>
            </td>
            <td> Nessuno </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/tricipiti">Tate Press</a>
            </td>
            <td> Kettlebell </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/tricipiti">Laying Triceps Extensions</a>
            </td>
            <td> Bilanciere </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/tricipiti">Cross Pushdown</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/tricipiti">Skullcrusher</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Spalle</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/spalle">Side Lateral Raises</a>
            </td>
            <td> Manubrio </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/spalle">Rear Delt Row</a>
            </td>
            <td> Kettlebell </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/spalle">Face Pulls</a>
            </td>
            <td> Macchina </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/spalle">Rear Delt Fly</a>
            </td>
            <td> Cavi </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/spalle">Barbell Overhead Press</a>
            </td>
            <td> Bilanciere </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/spalle">Upright Row</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Dorsali</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/dorsali">Neutral Grip Pulldown</a>
            </td>
            <td> Macchina </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/dorsali">Inverted Row</a>
            </td>
            <td> Nessuno </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/dorsali">Pull Ups</a>
            </td>
            <td> Nessuno </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/dorsali">Pull - In</a>
            </td>
            <td> Cavi </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/dorsali">Pullover</a>
            </td>
            <td> Kettlebell </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/dorsali">Lat Prayer</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Bicipite Femorale</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipitefemorale">Hamstring Curl</a>
            </td>
            <td> Macchina </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipitefemorale">Deadlift</a>
            </td>
            <td> Kettlebell </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipitefemorale">Stiff Leg Deadlift</a>
            </td>
            <td> Bilanciere </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipitefemorale">Kettlebell Swing</a>
            </td>
            <td> Kettlebell </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipitefemorale">Nordic Hamstring Curl</a>
            </td>
            <td> Nessuno </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipitefemorale">Single Leg Deadlift</a>
            </td>
            <td> Kettlebell </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Glutei</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/glutei">Squat</a>
            </td>
            <td> Nessuno </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/glutei">Hip Trust</a>
            </td>
            <td> Kettlebell </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/glutei">Barbell Curtsy Lunge</a>
            </td>
            <td> Bilanciere </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/glutei">Romanian Deadlift</a>
            </td>
            <td> Cavi </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/glutei">Barbell Hip Trust</a>
            </td>
            <td> Bilanciere </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/glutei">Split Squat</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Avambraccio</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/avambraccio">Wrist Curl</a>
            </td>
            <td> Manubrio </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/avambraccio">Hammer Curl</a>
            </td>
            <td> Cavi </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/avambraccio">Behind The Back Barbell Wrist Curl</a>
            </td>
            <td> Bilanciere </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/avambraccio">Reverse Curl</a>
            </td>
            <td> Cavi </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/avambraccio">Wrist Extension</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/avambraccio">Chin-Ups</a>
            </td>
            <td> Nessuno </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Polpaccio</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/polpaccio">Calf Raise</a>
            </td>
            <td> Kettlebell </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/polpaccio">Seated Calf Raise</a>
            </td>
            <td> Kettlebell</td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/polpaccio">Barbell Calf Raise</a>
            </td>
            <td> Bilanciere </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/polpaccio">Single Leg Calf Raise</a>
            </td>
            <td> Kettlebell </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/polpaccio">Calve Raise</a>
            </td>
            <td> Cavi </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/polpaccio">Tip Toe Walking</a>
            </td>
            <td> Nessuno </td>
            <td> Principiante </td>
        </tr>
    </table>
    <h2> <b>Addominali</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/addominali">Crunches</a>
            </td>
            <td> Nessuno </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/addominali">Situp</a>
            </td>
            <td> Nessuno </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/addominali">Leg Raises</a>
            </td>
            <td> Nessuno </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/addominali">Wood Chopper</a>
            </td>
            <td> Cavi </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/addominali">Standing Crunch</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/addominali">Russian Twist</a>
            </td>
            <td> Kettlebell </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Zona Lombare</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/zonalombare">Supermans</a>
            </td>
            <td> Nessuno </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/zonalombare">Goblet Squat</a>
            </td>
            <td> Cavi </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/zonalombare">Kettlebell Swings</a>
            </td>
            <td> Kettlebell </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/zonalombare">45° Back Extension</a>
            </td>
            <td> Macchina </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/zonalombare">Deadlift</a>
            </td>
            <td> Bilanciere </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/zonalombare">Single Leg Deadlift</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Trapezio (centro-spalle)</b></h2>
    <table class="w3-table-all w3-card-4 w3-hoverable">
        <tr class="w3-black">
            <th class="w3-left-align"> <b>Esercizi</b></th>
            <th class="w3-left-align"> <b>Equipaggiamento</b></th>
            <th class="w3-left-align"> <b>Difficoltà</b></th>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/trapezio2">Silverback Shrug</a>
            </td>
            <td> Cavi </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/trapezio2">Seated Cable Row</a>
            </td>
            <td> Macchina </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/trapezio2">Dumbbell Row</a>
            </td>
            <td> Manubrio </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/trapezio2">Kettlebell Silverback Shrug</a>
            </td>
            <td> Kettlebell </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/trapezio2">Deadlift</a>
            </td>
            <td> Bilanciere </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/trapezio2">Inverted Row</a>
            </td>
            <td> Nessuno </td>
            <td> Avanzato </td>
        </tr>
    </table>
</div>
