<!-- Tabella esercizi-->
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
<style>
table,
td {
  text-align: center;
}
th {
text-align: center;
} 
</style>
</head>
<body>
<div class="w3-container">
    <h2> <b>Bicipiti</b></h2>
    <table class="w3-table-all w3-card-4">
        <tr>
            <td> <b>Esercizi</b></td>
            <td> <b>Equipaggiamento</b></td>
            <td> <b>Difficoltà</b></td>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipiti">Barbell Curl</a>
            </td>
            <td> Bilanciere </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipiti">Dumbbell Curl</a>
            </td>
            <td> Manubrio </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipiti">Concentration Curl</a>
            </td>
            <td> Manubrio </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipiti">Preacher Curl</a>
            </td>
            <td> Kettlebell </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipiti">Twisting Curl</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/bicipiti">Reverse Curl</a>
            </td>
            <td> Cavi </td>
            <td> Avanzato </td>
        </tr>
    </table>
    <h2> <b>Petto</b></h2>
    <table class="w3-table-all w3-card-4">
        <tr>
            <td> <b>Esercizi</b></td>
            <td> <b>Equipaggiamento</b></td>
            <td> <b>Difficoltà</b></td>   
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/petto">Dumbbell Bench Press</a>
            </td>
            <td> Manubrio </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/petto">Push Up</a>
            </td>
            <td> Nessuno </td>
            <td> Principiante </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/petto">Dips</a>
            </td>
            <td> Zavorra </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/petto">Walkover Push Up</a>
            </td>
            <td> Nessuno </td>
            <td> Intermedio </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/petto">Incline Barbell Bench Press</a>
            </td>
            <td> Bilanciere </td>
            <td> Avanzato </td>
        </tr>
        <tr>
            <td class="clickablecell">
                <a rel="nofollow" class="external text" href="/petto">Barbell Bench Press</a>
            </td>
            <td> Bilanciere </td>
            <td> Avanzato </td>
        </tr>
    </table>
</div>
