<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8ba5d019978382113fba0e0b2fcf0309 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_8ba5d019978382113fba0e0b2fcf0309" ></div>
        
</body>
<script>    
    
            var map_8ba5d019978382113fba0e0b2fcf0309 = L.map(
                "map_8ba5d019978382113fba0e0b2fcf0309",
                {
                    center: [45.5, 9.2],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6692e24b7cb995c0a82c48e5fda7b96d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
            var tile_layer_6245c4151a374286e463b4272149bb68 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_f279a7de3c5ecd3a89620007e1f6aa21 = new L.Control.MiniMap(
                tile_layer_6245c4151a374286e463b4272149bb68,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": false, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_8ba5d019978382113fba0e0b2fcf0309.addControl(mini_map_f279a7de3c5ecd3a89620007e1f6aa21);
        
    
            var marker_24c5d8466603e43871fd253f29504e8c = L.marker(
                [45.487479, 9.197039],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_1a923cb2e3e5f2d1c06850debcc25879 = L.popup({"maxWidth": "100%"});

        
            var html_95a8c6a01609b4d33a19298bdc2d84eb = $(`<div id="html_95a8c6a01609b4d33a19298bdc2d84eb" style="width: 100.0%; height: 100.0%;">FIT MI - Fitness Club - Palestra Regione</div>`)[0];
            popup_1a923cb2e3e5f2d1c06850debcc25879.setContent(html_95a8c6a01609b4d33a19298bdc2d84eb);
        

        marker_24c5d8466603e43871fd253f29504e8c.bindPopup(popup_1a923cb2e3e5f2d1c06850debcc25879)
        ;

        
    
    
            var marker_f65f2dec017596dea7d2110a8a4200a7 = L.marker(
                [45.470508, 9.145712],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_7ec409ca0794a42ef337802d31b2263c = L.popup({"maxWidth": "100%"});

        
            var html_93a2bf9179827977bcc39e1726bb2fa2 = $(`<div id="html_93a2bf9179827977bcc39e1726bb2fa2" style="width: 100.0%; height: 100.0%;">Mengiu Palestre Milano</div>`)[0];
            popup_7ec409ca0794a42ef337802d31b2263c.setContent(html_93a2bf9179827977bcc39e1726bb2fa2);
        

        marker_f65f2dec017596dea7d2110a8a4200a7.bindPopup(popup_7ec409ca0794a42ef337802d31b2263c)
        ;

        
    
    
            var marker_5a3a3e0b2066e80acc59f20aa5989f8e = L.marker(
                [45.475203, 9.232573],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_b715a00dede809780ea304b7fe7481ca = L.popup({"maxWidth": "100%"});

        
            var html_f16631e87e7a0aa8bbc48a18299de619 = $(`<div id="html_f16631e87e7a0aa8bbc48a18299de619" style="width: 100.0%; height: 100.0%;">Milano Health Club</div>`)[0];
            popup_b715a00dede809780ea304b7fe7481ca.setContent(html_f16631e87e7a0aa8bbc48a18299de619);
        

        marker_5a3a3e0b2066e80acc59f20aa5989f8e.bindPopup(popup_b715a00dede809780ea304b7fe7481ca)
        ;

        
    
    
            var marker_9dab378b6656a4b84ad8cd83eabad4c3 = L.marker(
                [45.458469, 9.16305],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_112173efcb0f697e4f331bcd57afc2db = L.popup({"maxWidth": "100%"});

        
            var html_cecbe2326677c1a160c2ccba79d42ebe = $(`<div id="html_cecbe2326677c1a160c2ccba79d42ebe" style="width: 100.0%; height: 100.0%;">Solaris Fitness</div>`)[0];
            popup_112173efcb0f697e4f331bcd57afc2db.setContent(html_cecbe2326677c1a160c2ccba79d42ebe);
        

        marker_9dab378b6656a4b84ad8cd83eabad4c3.bindPopup(popup_112173efcb0f697e4f331bcd57afc2db)
        ;

        
    
    
            var marker_1f1e51fb97108ee506bb3678231815d7 = L.marker(
                [45.445945, 9.163565],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_543862f7cae8b4121968ca69083ab0d8 = L.popup({"maxWidth": "100%"});

        
            var html_b28106bbb47a7cc685d8b5ee0a6a7133 = $(`<div id="html_b28106bbb47a7cc685d8b5ee0a6a7133" style="width: 100.0%; height: 100.0%;">Palestre Italiane Milano Cassala</div>`)[0];
            popup_543862f7cae8b4121968ca69083ab0d8.setContent(html_b28106bbb47a7cc685d8b5ee0a6a7133);
        

        marker_1f1e51fb97108ee506bb3678231815d7.bindPopup(popup_543862f7cae8b4121968ca69083ab0d8)
        ;

        
    
    
            var marker_51e6bd9f322ff81834c1ebf92f511d96 = L.marker(
                [45.438811, 9.178226],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_a32f128751999c0ce30787cf1261fef0 = L.popup({"maxWidth": "100%"});

        
            var html_56ef2d73214d5e83011355ec0e06f64f = $(`<div id="html_56ef2d73214d5e83011355ec0e06f64f" style="width: 100.0%; height: 100.0%;">GetFIT</div>`)[0];
            popup_a32f128751999c0ce30787cf1261fef0.setContent(html_56ef2d73214d5e83011355ec0e06f64f);
        

        marker_51e6bd9f322ff81834c1ebf92f511d96.bindPopup(popup_a32f128751999c0ce30787cf1261fef0)
        ;

        
    
    
            var marker_7d6366f4fb009c67f36808548b3112e1 = L.marker(
                [45.483075, 9.186715],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_e99d36652465c8da7fbc6f2de89fe188 = L.popup({"maxWidth": "100%"});

        
            var html_e9d766b965f0982a9887da988dd05ace = $(`<div id="html_e9d766b965f0982a9887da988dd05ace" style="width: 100.0%; height: 100.0%;">Virgin Active Collection Milano Corso Como</div>`)[0];
            popup_e99d36652465c8da7fbc6f2de89fe188.setContent(html_e9d766b965f0982a9887da988dd05ace);
        

        marker_7d6366f4fb009c67f36808548b3112e1.bindPopup(popup_e99d36652465c8da7fbc6f2de89fe188)
        ;

        
    
    
            var marker_63e480d1637227c61ed1dd7728afb58b = L.marker(
                [45.47246, 9.196344],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_d022f374f0270c3b9aae9be3e2f8a0a1 = L.popup({"maxWidth": "100%"});

        
            var html_74833d303fa6e5027e5787737063ab53 = $(`<div id="html_74833d303fa6e5027e5787737063ab53" style="width: 100.0%; height: 100.0%;">Virgin Active Collection Milano Cavour</div>`)[0];
            popup_d022f374f0270c3b9aae9be3e2f8a0a1.setContent(html_74833d303fa6e5027e5787737063ab53);
        

        marker_63e480d1637227c61ed1dd7728afb58b.bindPopup(popup_d022f374f0270c3b9aae9be3e2f8a0a1)
        ;

        
    
    
            var marker_e6431163fc7443d421c3981ac9f0492b = L.marker(
                [45.514817, 9.173276],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_851251c45218b88d6f0b963abcca0ddf = L.popup({"maxWidth": "100%"});

        
            var html_6ca1ced5e86e22b78b3d6ba8fe4eed78 = $(`<div id="html_6ca1ced5e86e22b78b3d6ba8fe4eed78" style="width: 100.0%; height: 100.0%;">FitActive Milano Via Pellegrino Rossi</div>`)[0];
            popup_851251c45218b88d6f0b963abcca0ddf.setContent(html_6ca1ced5e86e22b78b3d6ba8fe4eed78);
        

        marker_e6431163fc7443d421c3981ac9f0492b.bindPopup(popup_851251c45218b88d6f0b963abcca0ddf)
        ;

        
    
    
            var marker_08d397d77003e03fedc45a6a3b4bb7b6 = L.marker(
                [45.508311, 9.204678],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_83d35b5ec951eb99ba980369b6c75e77 = L.popup({"maxWidth": "100%"});

        
            var html_c8853727e04e2fd7a254619bfadc7a26 = $(`<div id="html_c8853727e04e2fd7a254619bfadc7a26" style="width: 100.0%; height: 100.0%;">Anytime Fitness Milano Sarca</div>`)[0];
            popup_83d35b5ec951eb99ba980369b6c75e77.setContent(html_c8853727e04e2fd7a254619bfadc7a26);
        

        marker_08d397d77003e03fedc45a6a3b4bb7b6.bindPopup(popup_83d35b5ec951eb99ba980369b6c75e77)
        ;

        
    
    
            var marker_5ef1aad14a4c6d9e7af8d1c6e9a5cf53 = L.marker(
                [45.496648, 9.128877],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_c3e5ccf73fe6ab6cd1e2fe70e29536c8 = L.popup({"maxWidth": "100%"});

        
            var html_13af5463514b8d72a577f03399a3115e = $(`<div id="html_13af5463514b8d72a577f03399a3115e" style="width: 100.0%; height: 100.0%;">Virgin Active Milano Kennedy</div>`)[0];
            popup_c3e5ccf73fe6ab6cd1e2fe70e29536c8.setContent(html_13af5463514b8d72a577f03399a3115e);
        

        marker_5ef1aad14a4c6d9e7af8d1c6e9a5cf53.bindPopup(popup_c3e5ccf73fe6ab6cd1e2fe70e29536c8)
        ;

        
    
    
            var marker_08bd9f3e67fcdc6736c2e6287ea23c75 = L.marker(
                [45.498697, 9.236642],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_95f465c867b90e06d6548152b759b82b = L.popup({"maxWidth": "100%"});

        
            var html_4f5e492cdaf1cd0487334e8511547da4 = $(`<div id="html_4f5e492cdaf1cd0487334e8511547da4" style="width: 100.0%; height: 100.0%;">Palestra Gold's Gym</div>`)[0];
            popup_95f465c867b90e06d6548152b759b82b.setContent(html_4f5e492cdaf1cd0487334e8511547da4);
        

        marker_08bd9f3e67fcdc6736c2e6287ea23c75.bindPopup(popup_95f465c867b90e06d6548152b759b82b)
        ;

        
    
    
            var marker_26cd8738fcca719e8e5a4fd51f2f645e = L.marker(
                [45.465801, 9.193307],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_5324969f200a4be79d2fdcb36251beb9 = L.popup({"maxWidth": "100%"});

        
            var html_73616b56a93af58d7866fe824f9ee0c4 = $(`<div id="html_73616b56a93af58d7866fe824f9ee0c4" style="width: 100.0%; height: 100.0%;">Prime Exclusive Wellness Milano</div>`)[0];
            popup_5324969f200a4be79d2fdcb36251beb9.setContent(html_73616b56a93af58d7866fe824f9ee0c4);
        

        marker_26cd8738fcca719e8e5a4fd51f2f645e.bindPopup(popup_5324969f200a4be79d2fdcb36251beb9)
        ;

        
    
    
            var marker_6d3ff1a1448b8d805d47f53e3ee9a4cb = L.marker(
                [45.477693, 9.195047],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_4544277adce5bad17e9ae7305592c9f6 = L.popup({"maxWidth": "100%"});

        
            var html_1aa815db11db00a7e8323b2b83c641fb = $(`<div id="html_1aa815db11db00a7e8323b2b83c641fb" style="width: 100.0%; height: 100.0%;">Audace Palestre Repubblica</div>`)[0];
            popup_4544277adce5bad17e9ae7305592c9f6.setContent(html_1aa815db11db00a7e8323b2b83c641fb);
        

        marker_6d3ff1a1448b8d805d47f53e3ee9a4cb.bindPopup(popup_4544277adce5bad17e9ae7305592c9f6)
        ;

        
    
    
            var marker_a7def5091ad4298197b5f5914f6f40e0 = L.marker(
                [45.465277, 9.196064],
                {}
            ).addTo(map_8ba5d019978382113fba0e0b2fcf0309);
        
    
        var popup_156d9f6770ac1ee46adec8c60c4520da = L.popup({"maxWidth": "100%"});

        
            var html_515c9666ebfddb7f13e1a827c8857f2f = $(`<div id="html_515c9666ebfddb7f13e1a827c8857f2f" style="width: 100.0%; height: 100.0%;">Virgin Active Collection Vittorio Emanuele</div>`)[0];
            popup_156d9f6770ac1ee46adec8c60c4520da.setContent(html_515c9666ebfddb7f13e1a827c8857f2f);
        

        marker_a7def5091ad4298197b5f5914f6f40e0.bindPopup(popup_156d9f6770ac1ee46adec8c60c4520da)
        ;

        
    
</script>