<head>
<center><font color="white"><h1><b>Mappa delle palestre di Milano</b></h1></font></center>
<style>
html,body,h1,h2,h3,h4 {font-family:"Montserrat", sans-serif}
.mappa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 75%;
    border-color: black;
    
}
body{
    background-image: url('/static/photo-1550684376-efcbd6e3f031.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
    </style>
</head>
<body>
    <iframe src="/mappa" class="mappa"></iframe>
</body>
