<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<center>
<font color="white"><h1>Petto</h1></font>
<div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, gaTrack: true, gaId: 'UA-72608964-1'}, 'google_translate_element');
            }
</script>
</center>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<style>
html,body,h1,h2,h3,h4 {font-family:"Montserrat", sans-serif}
.text{
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}
body{
    background-image: url('/static/istockphoto-1320144030-170667a.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
img {
    border: 2px solid #000000;
}
ul{
    border: 2px solid #000000;
}
</style>
<body>
<ul class="text">
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per il petto
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Dumbbell-Bench-Press">
    <a name="Dumbbell-Bench-Press">Dumbbell Bench Press</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Manubrio</p>
    <p>
    <img id="workout-img" src="/static/Dumbbell-Chest-Press.gif" width="570" height="320" />
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Sdraiati sulla panca con i piedi per terra. Alza i manubri fino ad avere le braccia dritte;
        </li>
        <li>2) Abbassa i manubri al centro del petto;
        </li>
        <li>3) Alza i manubri finché non hai bloccato i gomiti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Push-Up">
    <a name="Push-Up">Push Up</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante </p> <p><strong>Attrezzo:</strong> Nessuno </p>
    <p>
    <img id="workout-img" src="/static/push-up.gif" width="570" height="320" />
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Appoggia le mani a terra all’altezza del petto;
        </li>
        <li>2) Appiattisci la schiena in modo che tutto il tuo corpo sia dritto e abbassa lentamente il corpo;
        </li>
        <li>3) Piegare le braccia tenendo i gomiti vicino al corpo;
        </li>
        <li>4) Espira mentre spingi indietro nella posizione iniziale.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Dips">
    <a name="Dips">Dips</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Macchina</p>
    <p>
    <img id="workout-img" src="/static/dips_gif.gif" width="570" height="320" />
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Tieni il corpo con le braccia bloccate sopra l'attrezzatura;
        </li>
        <li>2) Abbassa lentamente il corpo mentre ti pieghi in avanti;
        </li>
        <li>3) Distendi le braccia finché non sono bloccate.
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Walkover-Push-Up">
    <a name="Walkover-Push-Up">Walkover Push Up</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Nessuno </p>
    <p>
    <img id="workout-img" src="/static/walkover-pushup.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Iniziando in una posizione di flessione con i piedi larghi e una mano appoggiata sul kettlebell, completa una flessione completa, abbassando il petto verso terra mantenendo il corpo dritto e tornando alla posizione di partenza;
        </li>
        <li>2) Scambia le mani sul kettlebell, posizionando la mano originariamente sul kettlebell sotto la spalla, completa un altro push up;
        </li>
        <li>3) Ripeti.
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Incline-Barbell-Bench-Press">
    <a name="Incline-Barbell-Bench-Press">Incline Barbell Bench Press</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Bilanciere</p>
    <p>
    <img id="workout-img" src="/static/inclinebarbellpress.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Posizionare la panca tra 30 e 45 gradi;
        </li>
        <li>2) Sdraiati sulla panca con i piedi per terra. Con le braccia dritte srotolare la barra;
        </li>
        <li>3) Abbassa la barra a metà petto;
        </li>
        <li>4) Alza la barra (lentamente e controllata) finché non hai bloccato i gomiti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Barbell-Bench-Press">
    <a name="Barbell-Bench-Press">Barbell Bench Press</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Bilanciere</p>
    <p>
    <img id="workout-img" src="/static/barbell-benchpress.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Sdraiati sulla panca con i piedi per terra. Con le braccia dritte srotolare la barra;
        </li>
        <li>2) Abbassa la barra a metà petto;
        </li>
        <li>3) Alza la barra (lentamente e controllata) finché non hai bloccato i gomiti.
        </li>
    </ul>
<footer class="w3-container w3-padding-32 w3-transparent w3-center">
    <a name="footer"><h4>Footer</h4></a>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
    </div>
    <p>Presented by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>