<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<center>
<font color="white"><h1>Polpaccio</h1></font>
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'it'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</center>
</div>
<style>
html,body,h1,h2,h3,h4 {font-family:"Montserrat", sans-serif}
.text{
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}
body{
    background-image: url('static/sfondo2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
img {
    border: 2px solid #000000;
}
ul{
    border: 2px solid #000000;
}
</style>
<body>
<ul class="text">
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per il polpaccio  
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Calf-Raise">
    <a name="Calf-Raise">Calf Raise</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Kettlebell (o senza)</p>
    <p>
    <img id="workout-img" src="static/calfraises.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) In piedi dritto con un kettlebell nelle mani, alza i talloni verso l'alto mantenendo le ginocchia ferme;
        </li>
        <li>2) Fermati quando i talloni sono completamente estesi, quindi torna lentamente alla posizione iniziale e ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Seated-Calf-Raise">
    <a name="Seated-Calf-Raise">Seated Calf Raise</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Bilanciere (o kettlebell)</p>
    <p>
    <img id="workout-img" src="static/seated-calf-raise.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Seduti comodamente su una sedia con i muscoli addominali attivi, appoggia i piedi sul pavimento;
        </li>
        <li>2) Posiziona il kettlebell sulle gambe, appena sopra le ginocchia e solleva i talloni verso l'alto dal pavimento;
        </li>
        <li>3) Fermati quando i talloni sono completamente estesi, quindi torna lentamente alla posizione iniziale e ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Barbell-Calf-Raise">
    <a name="Barbell-Calf-Raise">Barbell Calf Raise</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Bilanciere</p>
    <p>
    <img id="workout-img" src="static/barbellcalfraise.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Metti la barra sulla schiena e inizia con i piedi per terra;
        </li>
        <li>2) Solleva i talloni dal pavimento mantenendo le ginocchia ferme e fermati quando i talloni sono completamente estesi;
        </li>
        <li>3) Ritorna lentamente alla posizione di partenza. Ripetere.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Single-Leg-Calf-Raise">
    <a name="Single-Leg-Calf-Raise">Single Leg Calf Raise</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Kettlebell (o nessuno)</p>
    <p>
    <img id="workout-img" src="static/Single-Leg-Calf-Raises.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) In piedi dritto con un kettlebell in una mano, solleva il piede, dal lato senza il kettlebell, dal pavimento;
        </li>
        <li>2) Solleva il tallone dal pavimento mantenendo le ginocchia ferme;
        </li>
        <li>3) Fermati quando i talloni sono completamente estesi, quindi torna lentamente alla posizione iniziale e ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Calve-Raise">
    <a name="Calve-Raise">Calve Raise</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante </p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <img id="workout-img" src="static/calve-raise.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Usa una maniglia. Il cavo deve essere posizionato fino in fondo alla macchina;
        </li>
        <li>2) Fai qualche passo indietro;
        </li>
        <li>3) Tira i talloni verso l'alto finché non senti una contrazione nei polpacci e poi torna alla posizione originale.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Tip-Toe-Walking">
    <a name="Tip-Toe-Walking">Tip Toe Walking</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante </p> <p><strong>Attrezzo:</strong> Nessuno</p>
    <p>
    <img id="workout-img" src="static/tip-toe-walking.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Punta le dita dei piedi verso il pavimento;
        </li>
        <li>2) Cammina lentamente avanti e indietro;
        </li>
        <li>3) Tieni i talloni in aria il più a lungo possibile mentre cammini;
        </li>
        <li>4) Potrebbe essere utile farlo per ultimo alla fine dell'allenamento.
        </li>
    </ul>
<footer class="w3-container w3-padding-32 w3-transparent w3-center">
    <a name="footer"><h4>Footer</h4></a>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <a href="https://www.facebook.com/profile.php?id=100081519773311"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
      <a href="https://www.instagram.com/olympiaplus2022/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    </div>
    <p>Presented by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>