<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<center>
<font color="white"><h1>Quadricipiti</h1></font>
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'it'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</center>
</div>
<style>
html,body,h1,h2,h3,h4 {font-family:"Montserrat", sans-serif}
.text{
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}
body{
    background-image: url('static/sfondo2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
img {
    border: 2px solid #000000;
}
ul{
    border: 2px solid #000000;
}
</style>
<body>
<ul class="text">
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per i quadricipiti
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Step-Up">
    <a name="Step-Up">Step Up</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Manubrio</p>
    <p>
    <img id="workout-img" src="/static/stepup.gif" width="500" height="250" />
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) In piedi dritto, usando una panca come gradino, solleva un piede sulla panca e tieni il manubrio nello stesso braccio della gamba dritta;
        </li>
        <li>2) Alzati e porta entrambi i piedi sulla panca. Abbassa lentamente la gamba fino alla posizione iniziale;
        </li>
        <li>3) Ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Bulgarian-Split-Squat">
    <a name="Bulgarian-Split-Squat">Bulgarian Split Squat</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Manubrio </p>
    <p>
    <img id="workout-img" src="/static/bulgarian-solit-squoat.gif" width="500" height="250" />
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Dare la schiena alla panca (o superficie rialzata) e posizionare uno dei piedi sulla panca;
        </li>
        <li>2) Tenere nelle due mani i manubri e tenere le braccia distese verso il basso;
        </li>
        <li>3) Accovacciati finché la gamba anteriore non è quasi parallela al pavimento;
        </li>
        <li>4) Torna alla posizione di partenza. Dopo aver completato la quantità desiderata di ripetizioni, cambia gamba e ripeti.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Leg-Press">
    <a name="Leg-Press">Leg Press</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Macchina </p>
    <p>
    <img id="workout-img" src="/static/leggpress.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Appoggia le gambe sulla piattaforma con i piedi alla larghezza delle spalle;
        </li>
        <li>2) Rilascia il peso ed distendi completamente le gambe, senza bloccare le ginocchia;
        </li>
        <li>3) Abbassare il peso fino a quando le gambe non sono ad un angolo di 90° (ma NON lasciare che il sedere e la parte bassa della schiena si alzi dall'imbottitura. Ciò metterà la parte bassa della schiena in una posizione arrotondata, il che è molto pericoloso);
        </li>
        <li>4) Riporta il peso alla posizione di partenza.
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Leg-Extension">
    <a name="Leg-Extension">Leg Extension</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Macchina </p>
    <p>
    <img id="workout-img" src="/static/legextension.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Posizionare bene la schiena allo schienale, il ginocchio deve essere adiacente al bordo della panca e l’imbottitura cilindrica leggermente al di sopra dell’articolazione della caviglia;
        </li>
        <li>2) Afferrare saldamente le maniglie per mantenere il busto fermo;
        </li>
        <li>3) Distendere le gambe il più possibile e tornare alla posizione di partenza.
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Split-Squat-Quadricipiti">
    <a name="Split-Squat-Quadricipiti">Split Squat</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Cavi </p>
    <p>
    <img id="workout-img" src="/static/splitsquat.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Il cavo deve essere posizionato in basso;
        </li>
        <li>2) Afferra il cavo e torna indietro di alcuni passi. Prendi una posizione divisa. Una gamba davanti e una dietro;
        </li>
        <li>3) Piega le ginocchia per iniziare lo split squat. Essere sicuri che il ginocchio posteriore tocchi per terra;
        </li>
        <li>4) Tornare nella posizione eretta.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Standing-Leg-Extension">
    <a name="Standing-Leg-Extension">Standing Leg Extension</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Cavi </p>
    <p>
    <img id="workout-img" src="/static/standing-leg-extension.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Stare in piedi di fronte all'incrocio del cavo con il cavo impostato all'altezza dei fianchi. Utilizzare un attacco per caviglia/polso;
        </li>
        <li>2)  Estendi il ginocchio contro il cavo.
        </li>
    </ul>
<footer class="w3-container w3-padding-32 w3-transparent w3-center">
    <a name="footer"></a>
    <a href="#" class="w3-button w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <a href="https://www.facebook.com/profile.php?id=100081519773311"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
      <a href="https://www.instagram.com/olympiaplus2022/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    </div>
    <p>Presented by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>