<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<center>
<font color="white"><h1>Trapezio</h1></font>
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'it'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</center>
</div>
<style>
html,body,h1,h2,h3,h4 {font-family:"Montserrat", sans-serif}
.text{
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}
body{
    background-image: url('static/sfondo2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
img {
    border: 2px solid #000000;
}
ul{
    border: 2px solid #000000;
}
</style>
<body>
<ul class="text">
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per il trapezio
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Shrug">
    <a name="Shrug">Shrug</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Kettlebell</p>
    <p>
    <img id="workout-img" src="/static/shrug.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) In piedi dritto con i piedi alla larghezza delle spalle;
        </li>
        <li>2) Tenendo il kettlebell con entrambe le mani davanti al bacino, aggancia le scapole, come se stessi cercando di toccarle insieme;
        </li>
        <li>3) Rilascia l'alzata di spalle e ripeti
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Elevated-Pike-Shoulder-Shrug">
    <a name="Elevated-Pike-Shoulder-Shrug">Elevated Pike Shoulder Shrug</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Nessuno </p>
    <p>
    <img id="workout-img" src="/static/elevated-pike-shoulder-shrug.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Usa una panca o un oggetto come una sedia per alzare i piedi;
        </li>
        <li>2) Abbassa lentamente il corpo (scapola) mantenendo i gomiti bloccati (questa è la chiave);
        </li>
        <li>3) Riporta lentamente il corpo alla posizione di partenza.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Incline-Shrug">
    <a name="Incline-Shrug">Incline Shrug</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p><p><strong>Attrezzo:</strong> Manubrio</p>
    <p>
   <img id="workout-img" src="/static/incline-shrug.jpg" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Appoggiati alla parte posteriore della panca, con i piedi ben saldi a terra e con le braccia pendenti ai lati;
        </li>
        <li>2) Tenendo i manubri, impegna le scapole, come se stessi cercando di toccarle insieme. Rilascia la scrollata di spalle.
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Elevated-Pike-Press">
    <a name="Elevated-Pike-Press">Elevated Pike Press</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Nessuno </p>
    <p>
    <img id="workout-img" src="/static/pike-press-up.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Usa una panca o un oggetto per sollevare i piedi;
        </li>
        <li>2) Abbassa la testa verso il pavimento piegando i gomiti;
        </li>
        <li>3) Spingi con le mani e torna alla posizione iniziale della picca;
        </li>
        <li>4) Ripeti.
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Upright-Row-Trapezio">
    <a name="Upright-Row-Trapezio">Upright Row</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Cavi </p>
    <p>
    <img id="workout-img" src="/static/upright-row.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Utilizzare un attacco per maniglia con il cavo posizionato nella parte inferiore della macchina;
        </li>
        <li>2) Tira i gomiti verso il soffitto fino a quando l'attacco è appena sotto il mento, quindi estendi fino a quando i gomiti sono completamente estesi.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Barbell-Silverback-Shrug">
    <a name="Barbell-Silverback-Shrug">Barbell Silverback Shrug</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p><p><strong>Attrezzo:</strong> Bilanciere </p>
    <p>
    <img id="workout-img" src="/static/barbell-shrug.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Prendere il bilanciere e mettersi in piedi;
        </li>
        <li>2) Tenendo il bilanciere con entrambe le mani, aggancia le scapole, come se stessi cercando di toccarle insieme;
        </li>
        <li>3) Rilascia l'alzata di spalle e ripeti.
        </li>
    </ul>
<footer class="w3-container w3-padding-32 w3-transparent w3-center">
    <a name="footer"><h4>Footer</h4></a>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <a href="https://www.facebook.com/profile.php?id=100081519773311"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
      <a href="https://www.instagram.com/olympiaplus2022/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    </div>
    <p>Presented by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>