<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<center>
<font color="white"><h1>Trapezio (centro-spalle)</h1></font>
<div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, gaTrack: true, gaId: 'UA-72608964-1'}, 'google_translate_element');
            }
</script>
</center>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<style>
html,body,h1,h2,h3,h4 {font-family:"Montserrat", sans-serif}
.text{
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}
body{
    background-image: url('/static/shutterstock_407554567.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
</style>
<body>
<ul class="text">
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per il trapezio (centro-spalle)  
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Silverback-Shrug">
    <a name="Silverback-Shrug">Silverback Shrug</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Usa una barra. Il cavo deve essere posizionato fino in fondo;
        </li>
        <li>2) Assciurati di stare in piedi e di non inclinarti all'indietro;
        </li>
        <li>3) Ritrarre le scapole e poi allungarsi per tornare alla posizione di partenza.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Seated-Cable-Row">
    <a name="Seated-Cable-Row">Seated Cable Row</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Macchina</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Sedersi con la schiena dritta sulla macchina e afferrare le maniglie;
        </li>
        <li>2) Tira indietro le maniglie usando le braccia. Le gambe e il busto dovrebbero avere un angolo di 90°. Spingi fuori il petto;
        </li>
        <li>3) Tira le maniglie verso il tuo corpo finché le tue mani non sono accanto all'addome.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Dumbbell-Row">
    <a name="Dumbbell-Row">Dumbbell Row</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Manubrio </p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/static/Immagine1.gif" width="570" height="320" /></a>
    </p>
    <ul  class="w3-ul w3-card-4" style="width:75%">
        <li>1) Posiziona la gamba destra sull'estremità superiore della panca in modo che il ginocchio e lo stinco poggino piatti sulla panca, con il piede che pende dall'estremità;
        </li>
        <li>2) Piega il busto verso il pavimento e sorreggiti con il braccio destro appoggiando il palmo della mano contro la panca;
        </li>
        <li>3) Afferra il peso con la sinistra e tiralo dritto fino al lato del petto. Ripetere il movimento;
        </li>
        <li>4) Invertire la gamba e il braccio portanti per lavorare sull'altro lato.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Kettlebell-Silverback-Shrug">
    <a name="Kettlebell-Silverback-Shrug">Kettlebell Silverback Shrug</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Kettlebell </p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Stai in piedi con i piedi alla larghezza delle spalle tenendo il kettlebell con entrambe le mani davanti alle cosce;
        </li>
        <li>2) Piegati in avanti ai fianchi portando il kettlebell a terra mentre pieghi leggermente le ginocchia, mantenendo la schiena dritta;
        </li>
        <li>3) Tenendo il kettlebell con entrambe le mani, impegna le scapole, come se stessi cercando di toccarle insieme. Rilascia la scrollata di spalle.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Deadlift-Trapezio2">
    <a name="Deadlift-Trapezio2">Deadlift</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Bilanciere</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Stare con la parte centrale del piede sotto la barra e afferrare la barra con le mani, alla larghezza delle spalle circa;
        </li>
        <li>2) Piega le ginocchia e solleva la barra raddrizzando la schiena. È importante mantenere la schiena dritta;
        </li>
        <li>3) Stai in piedi alla tua piena altezza e tieni la posizione;
        </li>
        <li>4) Abbassa la barra a terra piegando le ginocchia e mantenendo la schiena dritta.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Inverted-Row-Trapezio2">
    <a name="Inverted-Row-Trapezio2">Inverted Row</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Nessuno </p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Sdraiati sotto una barra orizzontale fissa e afferra la barra con un'ampia presa alla rovescia;
        </li>
        <li>2) Tira il tuo corpo dritto verso la barra;
        </li>
        <li>3) Torna alla posizione di partenza, le braccia completamente distese. Ripetere.
        </li>
    </ul>

<body>
<footer class="w3-container w3-padding-32 w3-transparent w3-center">
    <a name="footer"><h4>Footer</h4></a>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
    </div>
    <p>Powered by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>