<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<center>
<font color="white"><h1>Tricipiti</h1></font>
<div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, gaTrack: true, gaId: 'UA-72608964-1'}, 'google_translate_element');
            }
</script>
</center>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<style>
.text{
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}
body{
    background-image: url('/static/shutterstock_407554567.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
</style>
<body>
<ul class="text">
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per i tricipiti  
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Cable-Push-Downs">
    <a name="Cable-Push-Downs">Cable Push Downs</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Macchina </p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Afferrare la pulley bar con i palmi rivolti verso il basso alla larghezza delle spalle;
        </li>
        <li>2) Stai dritto con una piccola inclinazione in avanti. Tieni la parte superiore delle braccia vicino al corpo e abbassa lentamente la pulley bar fino a quando le braccia non sono completamente estese;
        </li>
        <li>3) Fermati quando sei nella posizione contratta del movimento, quindi solleva lentamente la barra della puleggia fino al punto di partenza.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Bench-Dips">
    <a name="Bench-Dips">Bench Dips</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Nessuno</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Afferra il bordo della panca con le mani, tieni i piedi uniti e le gambe dritte;
        </li>
        <li>2) Abbassa il corpo verso il basso;
        </li>
        <li>3) Lentamente ritorna al punto di partenza.
        </li>
        <li>4) SUGGERIMENTO: rendilo più difficile sollevando i piedi dal pavimento e aggiungendo del peso.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Tate-Press">
    <a name="Tate-Press">Tate Press</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Kettlebell</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/static/Immagine1.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Sdraiati sulla schiena. Tenendo il braccio dritto, tieni il kettlebell sopra il petto con il palmo della mano rivolto lontano dal corpo;
        </li>
        <li>2) Piega il braccio, toccando con il kettlebell la parte superiore della spalla opposta al braccio in lavorazione;
        </li>
        <li>3) Torna alla posizione di partenza e ripeti.
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Laying-Triceps-Extensions">
    <a name="Laying-Triceps-Extensions">Laying Triceps Extensions</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Bilanciere</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Sdraiati su una panca piatta tenendo un bilanciere con una presa alla larghezza delle spalle;
        </li>
        <li>2) Estendi completamente i gomiti fino a quando il bilanciere è direttamente sopra il petto;
        </li>
        <li>3) Inizia a flettere i gomiti e permetti al bilanciere di toccarti quasi la fronte;
        </li>
        <li>4) Estendi i gomiti alla posizione iniziale e ripeti.
        </li>
    </ul>

<h3>
    <span class="mw-headline" id="Cross-Pushdown">
    <a name="Cross-Pushdown">Cross Pushdown</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Entrambi i lati del cavo incrociato devono essere posizionati in alto;
        </li>
        <li>2) Stare al centro della macchina tenendo ciascun cavo nella mano avversaria. La parte superiore del braccio dovrebbe essere ad un angolo di 45 gradi con il busto;
        </li>
        <li>3) Allunga i gomiti finché non senti una contrazione e poi torna alla posizione di partenza.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Skullcrusher">
    <a name="Skullcrusher">Skullcrusher</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Cavi</p>
    <p>
    <a href="https://www.youtube.com/watch?v=LMdNTHH6G8I%7C"><img id="workout-img" src="/media/uploads/Male-Barbell-BicepCurl-Front.gif" width="570" height="320" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Puoi usare una barra dritta, una corda, una barra facile o due maniglie. Il cavo deve essere posizionato completamente nella parte superiore della macchina;
        </li>
        <li>2) Guarda lontano dalla macchina con i gomiti in alto e l'accessorio appena dietro la testa;
        </li>
        <li>3) Estendi i gomiti finché non senti una contrazione nei tricipiti, quindi fletti il ​​gomito tornando alla posizione di partenza.
        </li>
    </ul>
<footer class="w3-container w3-padding-32 w3-transparent w3-center">
    <a name="footer"><h4>Footer</h4></a>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
    </div>
    <p>Powered by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>