<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<center>
<font color="white"><h1>Zona Lombare</h1></font>
<div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, gaTrack: true, gaId: 'UA-72608964-1'}, 'google_translate_element');
            }
</script>
</center>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<style>
html,body,h1,h2,h3,h4 {font-family:"Montserrat", sans-serif}
.text{
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}
body{
    background-image: url('static/sfondo2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
img {
    border: 2px solid #000000;
}
ul{
    border: 2px solid #000000;
}
</style>
<body>
<ul class="text">
<h2>
    <span class="mw-headline" id="Exercises">
    Esercizi per la zona lombare  
    </span>
</h2>
<h3>
    <span class="mw-headline" id="Supermans">
    <a name="Supermans">Supermans</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Nessuno</p>
    <p>
    <img id="workout-img" src="static/supermans.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Sdraiati a faccia in giù sul pavimento con le braccia completamente distese davanti a te;
        </li>
        <li>2) Solleva contemporaneamente le braccia, le gambe e il petto dal pavimento e mantieni la posizione;
        </li>
        <li>3) Abbassa lentamente le braccia, le gambe e il petto nella posizione iniziale. Ripetere.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Goblet-Squat">
    <a name="Goblet-Squat">Goblet Squat</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Principiante</p> <p><strong>Attrezzo:</strong> Manubrio</p>
    <p>
    <img id="workout-img" src="static/goblet-squat.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Metti in piedi e afferra il manubrio nelle parte alta con entrambe le mani;
        </li>
        <li>2) Inizia lo squat assicurandoti di mantenere una schiena piatta;
        </li>
        <li>3) Accovacciati fino a tornare in posizione eretta.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Kettlebell-Swing-ZonaLombare">
    <a name="Kettlebell-Swing-ZonaLombare">Kettlebell Swing</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Kettlebell</p>
    <p>
    <img id="workout-img" src="static/kettlebell-swings.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Stai in piedi con i piedi leggermente più larghi della larghezza delle spalle, tenendo il kettlebell tra le gambe, con le ginocchia leggermente piegate;
        </li>
        <li>2) Tenendo la schiena dritta, fai oscillare il kettlebell verso l'alto fino a quando il kettlebell è all'altezza del petto e abbassalo con attenzione;
        </li>
        <li>3) Ripetere.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="45°-Back-Extension">
    <a name="45°-Back-Extension">45° Back Extension</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Intermedio </p> <p><strong>Attrezzo:</strong> Macchina</p>
    <p>
    <img id="workout-img" src="static/45°-back-extension.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Posiziona le cosce sull'imbottitura e aggancia i piedi ai supporti della pedana;
        </li>
        <li>2) Tenendo la schiena dritta, piegati lentamente all'altezza della vita fino a quando le gambe e la schiena sono ad un angolo di 45°;
        </li>
        <li>3) Solleva lentamente il corpo nella posizione di partenza.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Deadlift-ZonaLombare">
    <a name="Deadlift-ZonaLombare">Deadlift</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Bilanciere</p>
    <p>
    <img id="workout-img" src="static/deadlift.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Stare con la parte centrale del piede sotto la barra e afferrare la barra con le mani, alla larghezza delle spalle circa;
        </li>
        <li>2) Piega le ginocchia e solleva la barra raddrizzando la schiena. È importante mantenere la schiena dritta;
        </li>
        <li>3) Stai in piedi alla tua piena altezza e tieni la posizione;
        </li>
        <li>4) Abbassa la barra a terra piegando le ginocchia e mantenendo la schiena dritta.
        </li>
    </ul>
<h3>
    <span class="mw-headline" id="Single-Leg-Deadlift-ZonaLombare">
    <a name="Single-Leg-Deadlift-ZonaLombare">Single Leg Deadlift</a>
    </span>
</h3>
    <p><strong>Difficoltà:</strong> Avanzato </p> <p><strong>Attrezzo:</strong> Cavi (o manubrio)</p>
    <p>
    <img id="workout-img" src="static/single-leg-deadlift.gif" width="500" height="250" /></a>
    </p>
    <ul class="w3-ul w3-card-4" style="width:75%">
        <li>1) Iniziare con una barra o un attacco semplice. Accovacciarsi e mettere il peso;
        </li>
        <li>2) Spingi indietro il sedere per iniziare il movimento mentre sollevi una delle gambe. Quindi spingi il sedere in avanti fino a tornare in posizione eretta;
        </li>
        <li>3) Per proteggerti dalle lesioni, mantieni sempre la schiena piatta.
        </li>
    </ul>
<footer class="w3-container w3-padding-32 w3-transparent w3-center">
    <a name="footer"><h4>Footer</h4></a>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
    </div>
    <p>Presented by <a title="Tristan Gallo & Jacopo Biagioni" target="_blank" class="w3-hover-text-red">Tristan Gallo & Jacopo Biagioni</a></p>
</footer>
</body>
</html>